:root {
    --military-dark: rgba(181, 5, 11, .7);
    --military-light: rgba(181, 5, 11, .5);
    --armada-dark: rgba(41, 128, 185, .7);
    --armada-light: rgba(41, 128, 185, .5);
    --coin-dark: rgba(249, 249, 134, 1);
    --coin-light: rgba(249, 249, 134, .5);
    --blue-dark: rgba(41, 128, 185, .7);
    --blue-light: rgba(41, 128, 185, .5);
    --yellow-dark: rgba(241, 196, 15, .9);
    --yellow-light: rgba(241, 196, 15, .5);
    --green-dark: rgba(39, 174, 96, .9);
    --green-light: rgba(39, 174, 96, .5);
    --purple-dark: rgba(155, 89, 182, .9);
    --purple-light: rgba(155, 89, 182, .5);
    --boats-dark: rgba(94, 196, 212, .9);
    --boats-light: rgba(94, 196, 212, .5);
    --black-dark: rgba(59, 59, 59);
    --black-light: rgba(168, 168, 168);
    --grey-lightest: #EFEFEF;
    --background: #f5f5dc;
}

* {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

body {
    width: 100vw;
    background-image: url("img/7-wonders-bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);
}

.wonders-wrapper {

   
}


h1 {
    text-align: center;
}


form {
    display:flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin: 0 auto;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}

td:hover {
    font-weight: 500;
}

tfoot {
    background-color: black;
    color: #fff;
}

tfoot td {
    border-style: inset;
    border: 3px solid black;
}


thead {
    background-color: white;
}

input {
    text-align: center;
    width: 75px;
}

.nameInput {
    font-weight: 500;
    border: 1px solid var(--grey-lightest);
}

.militaryRow {
    background-color: var(--military-light);
}
.militaryRow:hover {
    background-color: var(--military-dark);
}

.armadaRow {
    background-color: var(--armada-light);
}
.armadaRow:hover {
    background-color: var(--armada-dark);
}

.coinRow {
    background-color: var(--coin-light);
}
.coinRow:hover {
    background-color: var(--coin-dark);
}

.wonderRow {
    background-color: white;
}

.blueRow {
    background-color: var(--blue-light)
}
.blueRow:hover {
    background-color: var(--blue-dark)
}

.yellowRow {
    background-color: var(--yellow-light);
}
.yellowRow:hover {
    background-color: var(--yellow-dark);
}

.greenRow {
    background-color: var(--green-light);
}
.greenRow:hover {
    background-color: var(--green-dark);
}

.purpleRow {
    background-color: var(--purple-light);
}
.purpleRow:hover {
    background-color: var(--purple-dark);
}

.boatRow {
    background-color: var(--boats-light);
}
.boatRow:hover {
    background-color: var(--boats-dark);
}

.leaderRow {
    background-color: white;
}

.blackRow {
    background-color: var(--black-light);
}
.blackRow:hover {
    background-color: var(--black-dark);
}

#blackName:hover {
    color: white;
}

.totalScore {
    background-color: white;
    color: black;
    font-weight: 600;
}

.totalScore p {
    color: black;
    font-weight: 600;
}

#scoreCardDiv {
    display: flex;
    justify-content: center;
}

.scoreInput {
    width: 75px;
}

@media screen and (max-width: 425px) {
    .scoreInput {
        width: 30px;
    }

    input {
        text-align: center;
        width: 30px;
    }

    td {
        padding: 2px;
    }

    th {
        padding: 5px 5px;
    }
    
}